@font-face
    font-family: "Gilroy-Bold"
    src: url("../fonts/Gilroy/Gilroy-Bold.ttf")

    font-style: normal

@font-face
    font-family: "Gilroy-Regular"
    src: url("../fonts/Gilroy/Gilroy-Regular.ttf")

    font-style: normal

@font-face
    font-family: "Nekst-Black"
    src: url("../fonts/Nekst/Nekst-Black.ttf")

    font-style: normal
